@import '~antd/dist/antd.css';

body {
     background-color: #F0F2F5;
}

.todoapp {
     position: relative;
     min-height: 100vh   
}

.header {
     padding: 0 50px;
     color: rgba(0, 0, 0, .85);
     line-height: 64px;
     background: #001529;
     height: auto;
     margin-bottom: 1rem;
     text-align: center;
}

.row {
     justify-content: center;
}

.main {
     margin-bottom: 70px;
}

.ant-input-affix-wrapper {
     padding: 6.5px 11px;
}

.card {
     width: 100%;
}

.ant-card-body {
     padding: 0;
}

.todo_list {
     padding: 16px;
     margin: 0;
}

.item {
     padding: 8px;
     margin: 0;
}

.toDoItem {
     margin: 0;
     height: 32px;
}

.ant-checkbox-wrapper.toggle {
     padding: 0 8px 0 0;
}

.editBtn {
     margin-left: 6px;
     color: #1890ff;
     cursor: pointer;
}

.editing {
     margin-bottom: 15px;
}

.deleteBtn {
     float: right;
}

.filters {
     display: inline-flex;
}

.filters ul li {
     display: inline;
}

.filters ul {
     margin-bottom: 0;
}

ul {
     list-style-type: none;
     padding: 0;
}

.dvd_card_actions {
     margin: 0 0 12px 0;
}

.card_actions {
     margin-bottom: -2px;
}

.col1, .col2, .col3 {
     text-align: center;
}

.edit {
     width: 87%;
}

.edit .ant-input-prefix {
     display: none;
}

.container.draggingOver {
     background-color: cornsilk;
}

.item.dragging {
     background-color: #90EE90;
}

.footer {
     width: 100%;
     bottom: 0;
     position: absolute;
}