@import '~antd/dist/antd.css';

body {
     overflow:  visible;
     background-color: #F0F2F5;
}

.header {
     padding: 0 50px;
    color: rgba(0,0,0,.85);
    line-height: 64px;
    background: #001529;
    height: auto;
    margin-bottom: 1rem;
    text-align: center;
    }

.card {
     width: 100%;
}

.ant-card-body {
     padding: 0;
}

.ant-checkbox-wrapper.toggle {
     padding: 0 8px 0 0;
}

.todo_list {
     padding: 24px;
     margin: 0;
}

.toDoItem {
     margin-bottom: 24px;
     height: 32px;
     line-height: 33px;
}
.editBtn {
     margin-left: 6px;
     color: #1890ff;
     cursor: pointer;
}

.editing {
     margin-bottom: 15px;
}

.deleteBtn {
     float: right;
}

.filters  {
     display: inline-flex;
}

.filters ul li { display: inline; }

ul {
     list-style-type: none;
     padding: 0;
}

.dvdFooter {
     margin: 0 0 12px 0;
}

.footer {
     margin-bottom: 12px;
}

.col1, .col2, .col3 {
     text-align: center;
}

.edit {
     width: 87%;
}

.edit .ant-input-prefix {
     display: none;
}